# === Domain & Email ===
DOMAIN=anonaddy.example.com
EMAIL=admin@example.com

# === DNS Options ===
USE_DUCKDNS=false
DUCKDNS_DOMAIN=meinsub
DUCKDNS_TOKEN=DUCKDNS_TOKEN

USE_CLOUDFLARE=false
CF_API_TOKEN=XXXX
CF_ZONE_ID=XXXX
CF_RECORD_NAME=anonaddy.example.com

# === Features ===
ENABLE_UFW=true
ENABLE_FAIL2BAN=true
ENABLE_TRAEFIK=true
ENABLE_ANONADDY=true
ENABLE_WATCHTOWER=true
ENABLE_BACKUP=true
ENABLE_MONITORING=true
ENABLE_TOR_HARDEN=true
ENABLE_IP_BLACKLIST=true

# === Backup ===
BACKUP_DIR=/root/backups
